
*, *::after, *::before {
    appearance: none;
    border: none;
    margin: 0;
    overflow: hidden;
    will-change: none;
    image-rendering: crisp-edges;
    font-family: sans-serif;
}

#inp_file {
    opacity: 0;
    /* z-index: 99999999; */
    z-index: 10;
    cursor: none;
}

#inp_file[value] {
    opacity: 1;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#video {
    max-height: 90vh;
    max-width: 100vw;
    height: 56.25vw;
    width: auto;
    /* pointer-events: none; */
    cursor: none;
}

body {
    background-color: black;
}

#black {
    pointer-events: none;
    opacity: 0;
    background-color: black;
    /* transition: opacity 550ms; */
    z-index: 9999;
    will-change: opacity;
}

#black.black {
    opacity: 1;
}

#ctrl {
    position: absolute;
    font-size: 8vh;
    bottom: 0vh;
    color: white;
    z-index: 99999;
    line-height: 1;

    display: flex;
    width: 100%;
    justify-content: space-around;
}

#ctrl, #ctrl * {
    cursor: default;
    pointer-events: all;
}

#info {
    display: inline-block;
}

#is_loop {
    /*appearance: revert;*/
}
label[for=is_loop] {
    cursor: pointer !important;
}
#is_loop:not(:checked) + label[for=is_loop] {
    opacity: 0.3;
}

#crop_info, #versionInfo, #versionInfo * {
    font-size: 1rem;
    padding-top: 0.5rem;
    pointer-events: all !important;
    z-index: 100;
}

/* body *:not(input):not(label):not(#ctrl) { */
body *:not(input):not(label):not(#ctrl):not(#video) {
    pointer-events: none;
}

#overlay {
    position: absolute;
    font-size: 6vh;
    font-weight: bold;
    bottom: 0vh;
    color: white;
    z-index: 99999;
    line-height: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#speedMultipWrapper {
    background-color: black;
    padding: 0.1em 0.6em;
    margin: 0.3em 0.3em;
}

.pre {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 11px;
}